img {
    max-width: 100%;
    max-height: 100%;
    padding: 8px;
}


.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

#navbar
{
  background: -webkit-linear-gradient(#33CCFF, white); 
  background: -o-linear-gradient(#33CCFF, white);
  background: -moz-linear-gradient(#33CCFF, white); 
  background: linear-gradient(#33CCFF, white)
 
}

#topimg {
    max-width: 100px;
    max-height: 100px;
}

#title {
    
    padding:10px;
}

#left-header {
    display: flex;
    flex-wrap: wrap;
}

#right-header {
    display: flex;
    flex-wrap: wrap;
}

#title {
    color: #4bf;
    font-size: 26px;
    font-weight: 300;
}


td
{
text-align: center;
}



table 
{
    table-layout: auto;
    padding: 10;
    border-spacing: 10px;
    border-collapse: separate; 
    width: 100%;
}

#top{
    padding-top: 20px;
}

.navButton {
    font-weight: 700;
}

.hero {
    width: 100%;
}

#heroimg {
    width: 100%;
}
